.bar {
    fill: #5ce0bb;
}

.bar:hover {
    fill: #69b3a2;
    stroke: #000;
    stroke-width: 2px;
}

.axis-label {
    font-size: 12px;
}

.line {
    fill: none;
    stroke-width: 2;
}

.line:hover {
    stroke-width: 4;
}

.circle {
    fill: #5ce0bb;
    stroke: #000;
    stroke-width: 1px;
}

.circle:hover {
    fill: #69b3a2;
    stroke-width: 4px;
}

.dot {
    fill-opacity: 0.7;
}

.dot:hover {
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 2px;
}

.bubble {
    fill-opacity: 0.2;
    stroke: #000;
}

.bubble:hover {
    fill: aqua;
    fill-opacity: 0.7;
    stroke-width: 2px;
}

.country {
    stroke-width: 2;
    stroke: white;
    opacity: 0.7;
}

.country:hover {
    opacity: 1;
}

#map path {
    stroke: black;
    stroke-width: 1px;
}

#map{
    width: 100%;
    height: 100%;
}

p {
    font-family: 'Fira Sans';
    font-size: 1.1rem;
    text-align: justify;
    margin: 10px;
}

.navbar-brand {
    font-family: 'Fira Sans';
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

text {
    font-family: 'Fira Sans';
    font-size: 1rem;
    text-align: center;
    margin: 10px;
}